__pycache__
.idea
.DS_Store
*.egg-info
build
.venv/
slurm-*.out
slurm_logs/

# data
checkpoints
out
!data/shakespeare/prepare.py
wandb

# downloaded by our tests
original_model.py
original_adapter.py

.vscode

torch_compile_debug
results
submit.sh
submit*.sh

.env
.cache/