absl-py
accelerate
bert-score
blobfile
claudette
datasets
evaluate
fuzzywuzzy
huggingface_hub
nltk
python-Levenshtein
regex
rouge-score
ruff
safetensors
scikit-learn
sentencepiece
tiktoken
git+https://github.com/google-research/bleurt.git
