torch==2.5.0.dev20240723+cu121
pytorch-triton==3.0.0+dedb7bdf33
absl-py
accelerate
bert-score
blobfile
claudette
datasets
evaluate
fuzzywuzzy
huggingface_hub
nltk
python-Levenshtein
regex
rouge-score
ruff
safetensors
scikit-learn
sentencepiece
tiktoken
git+https://github.com/google-research/bleurt.git
